.yasgui {
  .tabPanel {
    display: none;
    position: relative;
    &.active {
      display: block;
    }
  }
  .yasr {
    margin-top: 5px;
  }

  .tabContextButton {
    border: none;
    background: none;
    align-self: center;
    padding-left: 10px;
    cursor: pointer;
    color: var(--yasgui-text);
    fill: var(--yasgui-text);

    .svgImg {
      width: 15px;
      height: 15px;
      font-family: initial; //font families can slightly misalign svgs with the .svgimg div
    }
    // IE11 Needs this specified otherwise it will not resize the svg
    svg {
      max-width: 15px;
      max-height: 15px;
    }

    &:hover {
      color: var(--yasgui-focus);
      fill: var(--yasgui-focus);
    }
  }

  .controlbar {
    display: flex;
    align-content: center;
    max-height: 35px;
  }
}
