/* CSS Custom Properties for theming */
:root {
  --yasgui-text: rgba(0, 0, 0, 0.87);
  --yasgui-border: rgba(0, 0, 0, 0.26);
  --yasgui-focus: #337ab7;
  --yasgui-link: #337ab7;
  --yasgui-link-hover: #2a6496;
  --yasgui-label: rgba(0, 0, 0, 0.54);
  --yasgui-nav-bg: #eeeeee;
  --yasgui-nav-text: #555555;
  --yasgui-nav-text-hover: #222222;
  --yasgui-nav-text-active: #000000;
  --yasgui-tab-text: #555555;
  --yasgui-btn-text: #c0c0c0;
  --yasgui-panel-bg: #f9f9f9;
  --yasgui-panel-border: #cccccc;
  /* Form field variables */
  --yasgui-focus-color: var(--yasgui-focus);
  --yasgui-font-size: 15px;
  --yasgui-font-color: var(--yasgui-text);
  --yasgui-border-color: var(--yasgui-border);
  --yasgui-label-font-size: 12px;
  --yasgui-label-font-color: var(--yasgui-label);
  --yasgui-label-line-height: 15px;
}

html[data-theme="dark"] {
  --yasgui-text: #eeeeee;
  --yasgui-border: rgba(255, 255, 255, 0.26);
  --yasgui-focus: #4fc3f7;
  --yasgui-link: #4fc3f7;
  --yasgui-link-hover: #29b6f6;
  --yasgui-label: rgba(255, 255, 255, 0.54);
  --yasgui-nav-bg: #2d2d30;
  --yasgui-nav-text: #cccccc;
  --yasgui-nav-text-hover: #ffffff;
  --yasgui-nav-text-active: #e0e0e0;
  --yasgui-tab-text: #c0c0c0;
  --yasgui-btn-text: #c0c0c0;
  --yasgui-panel-bg: #3e3e3e;
  --yasgui-panel-border: #2d2d30;
  color-scheme: dark;
}

.yasgui {
  /* background-color: var(--yasgui-bg); */

  a {
    color: var(--yasgui-link);
    text-decoration: none;

    &:hover,
    &:active {
      color: var(--yasgui-link-hover);
    }
  }

  /* css taken from https://www.muicss.com/docs/v1/css-js/forms */
  .yasgui_textfield {
    display: block;
    padding-top: calc(var(--yasgui-font-size) * 1.25);
    position: relative;

    > label {
      /* Positioning */
      position: absolute;
      top: 0;
      /* Display */
      display: block;
      width: 100%;
      /* Other */
      color: var(--yasgui-label-font-color);
      font-size: var(--yasgui-label-font-size);
      font-weight: 400;
      line-height: var(--yasgui-label-line-height);
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & > input,
    & > textarea {
      box-sizing: border-box;
      display: block;
      color: var(--yasgui-font-color);
      border: none;
      border-bottom: 1px solid var(--yasgui-border-color);
      outline: none;
      width: 100%;
      padding: 0;
      box-shadow: none;
      border-radius: 0px;
      /* Typography */
      font-size: var(--yasgui-font-size);
      font-family: inherit;
      line-height: inherit;
      /* Bugfix for firefox-android */
      background-image: none;

      &:focus {
        border-color: var(--yasgui-focus-color);
        border-width: 2px;
      }
    }

    > input:focus ~ label,
    > textarea:focus ~ label {
      color: var(--yasgui-focus-color);
    }
  }
}
