.yasgui.context-menu {
  position: absolute;
  z-index: 10;
  background: var(--yasgui-nav-bg);
  min-width: 160px;
  font-size: 14px;
  border: 1px solid var(--yasgui-border);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;

  hr {
    margin: 8px auto;
    border: none;
    border-top: 1px solid var(--yasgui-border);
    border-bottom: 1px solid var(--yasgui-nav-bg);
  }

  .context-menu-list {
    padding: 0;
  }

  .context-menu-item {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: var(--yasgui-text);
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: var(--yasgui-text);
      background-color: var(--yasgui-border);
      filter: brightness(1.1);
    }

    &.disabled {
      text-decoration: none;
      color: var(--yasgui-label);
      background-color: var(--yasgui-border);
      cursor: not-allowed;
    }
  }
}
