.yasgui {
  .tabMenu {
    background: var(--yasgui-panel-bg);
    z-index: 7;
    transition: all 0.5s;
    transform: translate3d(-100%, 0, 0) rotateY(90deg);
    transform-origin: 100% 50%;
    visibility: hidden;
    width: 600px;
    border: 1px var(--yasgui-panel-border) solid;
    position: absolute;
    top: 35px;
    left: 0;
    perspective: 1500px;
    perspective-origin: 0% 50%;
    transform-style: preserve-3d;

    &.open {
      visibility: visible;
      transform: translate3d(-100%, 0, 0) rotateY(0deg);
      transition: all 0.5s;
      left: 600px;

      /* IE11 Hack */
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        min-width: 600px;
      }
    }

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: 0px;
    }

    .requestConfigWrapper {
      padding: 10px;
      overflow: hidden;
      display: flex;
      flex-wrap: nowrap;
      background: var(--yasgui-panel-bg);
      border-bottom: 1px solid var(--yasgui-panel-border);

      .selectorButton {
        border: none;
        background-color: transparent;
        border-bottom: 1px solid var(--yasgui-panel-border);
        height: 30px;
        color: var(--yasgui-text);
        cursor: pointer;

        &:hover {
          color: var(--yasgui-focus);
          border-color: var(--yasgui-focus);
        }

        &.selected {
          color: var(--yasgui-focus);
          border-bottom: 2px solid var(--yasgui-focus);
        }

        &:focus {
          outline: none;
        }

        &:focus-visible {
          color: var(--yasgui-focus);
          border-color: var(--yasgui-focus);
        }
      }
    }

    .acceptWrapper {
      flex-direction: row;

      .acceptLabel {
        justify-self: center;
      }

      .selector {
        flex-direction: column;
        display: flex;
        padding: 2.5px 5px;
        flex-grow: 1;
        width: 100%;

        .selectorLabel {
          align-self: center;
          font-weight: bold;
          font-size: small;
        }
      }
    }

    .textSetting {
      display: flex;
      flex-direction: column;

      .label {
        align-self: flex-start;
      }

      .graphInput {
        white-space: nowrap;
      }

      .textRow {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0.2em;
        white-space: nowrap;
      }

      .removeButton {
        border: none;
        background: transparent;
        user-select: none;
        color: var(--yasgui-text);

        &:hover {
          background: transparent;
          border-color: var(--yasgui-focus);
          color: var(--yasgui-focus);
          cursor: pointer;
        }
      }
    }

    .label {
      color: var(--yasgui-text);
      font-weight: bold;
      white-space: nowrap;
      padding-right: 5px;
      align-self: center;
    }
  }
}
